@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, .section{
    padding: 20px;


}


div.section > .grupos {
    border: 1px dashed green;
}


.section2 {
    padding: 20px;
}

div.section{
    background-color: lightgray;
    display: flex;

    
    flex-wrap: wrap;
}

div.midia-text {
    display: flex;
}

div.text-midia{
 display: flex;
    
}

